.RegiserContainer{
    width: 100%;
    height: 100%;
    padding: 10px;
    .factorLogo{
        display: flex;
        justify-content: center;
        .Logo{
            height: 120px;
            width: 120px;
            // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        
    }
    .form{
        margin-top: 4rem;
        .element{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}